@import "../utilities/mixins";
@import "../variables/colors";
@import "../variables/fonts";
@import "../variables/dimensions";

.about {
  margin-bottom: $margin_betweenSectionsDesktopTablet;

  &__bg {
    max-width: 100%;
    height: auto;

    margin: 2rem 0;

    @include mobile {
      margin: 0.5rem 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 6rem;

    @include tablet {
      margin: 0 3.75rem;
    }

    @include mobile {
      margin: 0;
    }
  }

  &__quote {
    &-text {
      font-size: $fontSize_subheader_DesktopTablet;
      line-height: $lineHeight_subheader_DesktopTablet;
      font-weight: $textWeight_subheader_DesktopTablet;

      margin-bottom: 16px;

      @include mobile {
        font-size: $fontSize_subheader_Mobile;
        line-height: $lineHeight_subheader_Mobile;
        font-weight: $textWeight_subheader_Mobile;
      }
    }

    &-author {
      font-size: $fontSize_bodyCopy_DesktopTablet;
      line-height: $lineHeight_bodyCopy_DesktopTablet;
      font-weight: $textWeight_subheader_DesktopTablet;

      @include mobile {
        font-size: $fontSize_bodyCopy_Mobile;
        line-height: $lineHeight_bodyCopy_Mobile;
        font-weight: $textWeight_subheader_Mobile;
      }
    }
  }

  &__bandName {
    width: 100%;

    margin-top: 48px;
    margin-bottom: 24px;

    font-size: $fontSize_subheader_DesktopTablet;
    line-height: $lineHeight_subheader_DesktopTablet;
    font-weight: $textWeight_subheader_DesktopTablet;

    @include mobile {
      font-size: $fontSize_subheader_Mobile;
      line-height: $lineHeight_subheader_Mobile;
      font-weight: $textWeight_subheader_Mobile;
    }
  }

  &__paragraphContainer {
    display: flex;
    flex-direction: row;

    @include mobile {
      flex-direction: column;
    }
  }

  &__paragraph {
    padding-right: 32px;

    @include bodyCopyText;

    @include mobile {
      padding-right: 0;
      padding-bottom: 32px;
    }
  }
}
