@import "../utilities/mixins";
@import "../variables/colors";
@import "../variables/fonts";
@import "../variables/dimensions";
@import "../components/buttons";

.comments__title {
  @include sectionHeaderText;
  margin-bottom: 16px;
}

.commentsForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  &-avatar {
    margin-top: 40px;
    margin-right: 32px;

    width: 48px;
    height: 48px;

    @include mobile {
      width: 36px;
      height: 36px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }

  &-avatarAndName {
    display: flex;
    flex-direction: row;
  }
}

#commentsForm {
  display: flex;
  width: 40%;
  @include mobile {
    width: 80%;
  }
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-label {
  text-transform: uppercase;
  @include bodyCopyText;
  color: $primaryColor_Silver;

  padding-bottom: 4px;
}

.form-input {
  width: 100%;
  border-radius: 4px;
  padding: 8px 16px;
  min-height: 48px;

  @include mobile {
    min-height: 36px;
  }
  resize: none;
  @include bodyCopyText;
}

.labelAndInputContainer {
  width: 100%;
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.formSubmitButtonContainer {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 32px 0px;
  align-items: center;
  justify-content: flex-end;
}

.comments__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: start;

  margin-bottom: 16px;
  margin-top: 32px;

  &__author {
    font-weight: 600;
  }

  &__date {
    color: $primaryColor_Silver;
  }

  &__details {
    width: 100%;
  }

  &__authorAndDateContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__container {
    width: 50%;
    @include mobile {
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__avatar {
    background-color: $secondaryColor_Mercury;

    margin-right: 16px;
    min-width: 48px;
    min-height: 48px;

    border-radius: 50%;

    @include mobile {
      min-width: 36px;
      min-height: 36px;
    }
  }

  &__content {
    margin-top: 16px;
    @include bodyCopyText;
    height: auto;
    min-height: 60px;
    resize: none;
    overflow: auto;
    word-wrap: break-word;
  }
}
