@import "../utilities/mixins";
@import "../variables/colors";
@import "../variables/fonts";
@import "../variables/dimensions";

.gallery {
  &__title {
    @include sectionHeaderText;
  }

  &__grid {
    margin: 2rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    &-item {
      width: 100%;
      height: 220px;
      background-color: #ccc;

      @include tablet {
        height: 180px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
