@import "../variables/colors";
@import "../variables/fonts";
@import "../utilities/mixins";

.hero {
  position: relative;
  height: 41.5vw;
  background-color: rgba($color: $primaryColor_BandSite-Black, $alpha: 0.5);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: $margin_betweenSectionsDesktopTablet;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-image: url("..//..//assets//images//hero-bio.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -2;
  }

  &__text {
    color: white;

    font-size: $fontSize_pageHeader_DesktopTablet;
    line-height: $lineHeight_pageHeader_DesktopTablet;
    font-weight: $textWeight_pageHeader_DesktopTablet;

    @include mobile {
      font-size: $fontSize_pageHeader_Mobile;
      line-height: $lineHeight_pageHeader_Mobile;
      font-weight: $textWeight_pageHeader_Mobile;
    }
  }
}
