// Primary Colors
$primaryColor_BandSite-Black: #323232;
$primaryColor_Silver: #afafaf;
$primaryColor_White: #ffffff;

// Secondary Colors
$secondaryColor_BandSite-DarkBlack: #000000;
$secondaryColor_Mercury: #e1e1e1;
$secondaryColor_Alabaster: #fafafa;
