// Desktop & Tablet Paddings

$padding_beforeHeadlines_DesktopTablet: 48px;
$padding_afterHeadlines_DesktopTablet: 36px;
$padding_betweenComponents_DesktopTablet: 36px;

// Mobile Paddings

$padding_beforeHeadlines_Mobile: 24px;
$padding_afterHeadlines_Mobile: 16px;
$padding_betweenComponents_Mobile: 16px;

// Layout Grid Dimensions
