@import "../utilities/mixins";

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Avenir Next LT Pro", sans-serif;
}

// Page Header Font Style
$fontSize_pageHeader_DesktopTablet: 60px;
$fontSize_pageHeader_Mobile: 24px;

$lineHeight_pageHeader_DesktopTablet: 68px;
$lineHeight_pageHeader_Mobile: 32px;

$textWeight_pageHeader_DesktopTablet: 700;
$textWeight_pageHeader_Mobile: 700;

// Section Header Font Style
$fontSize_sectionHeader_DesktopTablet: 36px;
$fontSize_sectionHeader_Mobile: 24px;

$lineHeight_sectionHeader_DesktopTablet: 44px;
$lineHeight_sectionHeader_Mobile: 32px;

$textWeight_sectionHeader_DesktopTablet: 700;
$textWeight_sectionHeader_Mobile: 700;

// Subheader Font Style
$fontSize_subheader_DesktopTablet: 24px;
$fontSize_subheader_Mobile: 14px;

$lineHeight_subheader_DesktopTablet: 32px;
$lineHeight_subheader_Mobile: 22px;

$textWeight_subheader_DesktopTablet: 600;
$textWeight_subheader_Mobile: 600;

// Body Copy Font Style
$fontSize_bodyCopy_DesktopTablet: 14px;
$fontSize_bodyCopy_Mobile: 13px;

$lineHeight_bodyCopy_DesktopTablet: 22px;
$lineHeight_bodyCopy_Mobile: 18px;

$textWeight_bodyCopy_DesktopTablet: 400;
$textWeight_bodyCopy_Mobile: 400;

// Footer Copy Font Style
$fontSize_footerCopy_DesktopTablet: 14px;
$fontSize_footerCopy_Mobile: 13px;

$lineHeight_footerCopy_DesktopTablet: 20px;
$lineHeight_footerCopy_Mobile: 18px;

$textWeight_footerCopy_DesktopTablet: 400;
$textWeight_footerCopy_Mobile: 400;

// Labels & Buttons Font Style
$fontSize_labelsButtons_DesktopTablet: 12px;
$fontSize_labelsButtons_Mobile: 10px;

$lineHeight_labelsButtons_DesktopTablet: 20px;
$lineHeight_labelsButtons_Mobile: 20px;

$textWeight_labelsButtons_DesktopTablet: 700;
$textWeight_labelsButtons_Mobile: 700;

@mixin sectionHeaderText {
  font-size: $fontSize_sectionHeader_DesktopTablet;
  line-height: $lineHeight_sectionHeader_DesktopTablet;
  font-weight: $textWeight_sectionHeader_DesktopTablet;

  @include mobile {
    font-size: $fontSize_sectionHeader_Mobile;
    line-height: $lineHeight_sectionHeader_Mobile;
    font-weight: $textWeight_sectionHeader_Mobile;
  }
}

@mixin footerCopyText {
  font-size: $fontSize_footerCopy_DesktopTablet;
  line-height: $lineHeight_footerCopy_DesktopTablet;
  font-weight: $textWeight_footerCopy_DesktopTablet;

  @include mobile {
    font-size: $fontSize_footerCopy_Mobile;
    line-height: $lineHeight_footerCopy_Mobile;
    font-weight: $textWeight_footerCopy_Mobile;
  }
}

@mixin labelAndInputText {
  font-size: $fontSize_labelsButtons_DesktopTablet;
  line-height: $lineHeight_labelsButtons_DesktopTablet;
  font-weight: $textWeight_labelsButtons_DesktopTablet;

  @include mobile {
    font-size: $fontSize_labelsButtons_Mobile;
    line-height: $lineHeight_labelsButtons_Mobile;
    font-weight: $textWeight_labelsButtons_Mobile;
  }
}
