@import "../utilities/mixins";
@import "../variables/dimensions";
@import "../variables/fonts";
@import "../variables/colors";

.section {
  padding-left: 9rem;
  padding-right: 9rem;

  padding-top: 3rem;

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.form-label {
  @include labelAndInputText;
  color: $primaryColor_Silver;
  padding-bottom: 4px;
}

.form-input {
  width: 100%;
  border-radius: 4px;
  resize: none;
  @include labelAndInputText;
}
