@import "../utilities/mixins";
@import "../variables/dimensions";

.section {
  padding-left: 8.2rem;
  padding-right: 8.2rem;

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
